@import 'typography.css';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: #606060;
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
  font-weight: bold;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
a, a:link, a:visited {
  color: #333;
  font-weight: 500;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
#site-wrap {
  margin: 0 auto;
  max-width: 1365px;
}
[tabindex="-1"]:focus {
  outline: none;
}
.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.site-header .skip-links li a {
  background-color: #efefef;
  color: #000;
  font-weight: bold;
  opacity: 0;
  padding: 1.15em;
  position: absolute;
  text-decoration: underline;
  text-shadow: none;
  text-align: center;
  z-index: -1;
}
.skip-links li a:focus {
  opacity: 1;
  z-index: 1;
}

.site-header {
  background-image: url(../images/blurryWall.jpg);
  position: relative;
}
.site-header > div {
  display: grid;
  grid-template-columns: 225px 1fr;
}
h1.site-logo {
  box-sizing: border-box;
  background-color: #026055;
  display: inline-block;
}
.site-header a {
  color: #efefef;
  display: block;
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
}
.site-logo a .logotype-line1,
.site-logo a .logotype-line2 {
  display: block;
  text-transform: uppercase;
}
.site-header ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0;
  padding: 0;
}
.site-header li {
  align-items: center;
  list-style: none;
  margin: 0;
}
.site-header li:nth-child(5) {
  /* border-left: 1px dotted #99cc00; */
  margin-left: auto;
}
.site-header nav li a {
  text-shadow: 1px 1px 3px #000;
}
.site-header nav li a.active {
  color: #99cc00;
}
@media (max-width: 1220px) {
  .site-header a {
    padding: 0.75em 1em;
  }
}
@media (max-width: 900px) {
  .site-header > div {
    grid-template-columns: 200px 1fr;
  }
  .site-header a {
    padding: 0.5em;
  }
}
@media (max-width: 753px) {
  .site-header > div {
    grid-template-columns: 170px 1fr;
  }
  h1.site-logo {
    font-size: 1.8em;
  }
  .site-header nav li a {
    font-size: 1.2em;
    padding: 0.4em;
  }
}
@media (max-width: 671px) {
  .site-header > div {
    display: block;
  }
  .site-header nav ul {
    background-color: #3e3e3e;
    border: 1px solid #000;
    border-width: 0px 0 4px 0;
  }
  .site-header nav li a {
    padding: 0.15em 0.5em;
  }
}
@media (max-width: 424px) {
  .site-header li:nth-child(5) {
    margin-left: 0;
  }
}

.more-link  {
  font-weight: 500;
  margin: 2em 0;
}
.more-link a {
  text-decoration: none;
}
.more-link .more-link-text {
  text-decoration: underline;
}
.more-link span[aria-hidden="true"] {
  font-size: 70%;
  margin-left: 0.25em;
}
.generic-wrap {
  background-color: #fff;
  min-height: 300px;
}
.feature-list-wrap {
  background-color: #fff;
  display: grid;
  grid-template-columns: 63% 37%;
}
.feature a, .list a {
  color: #000;
}
.feature h3 a {
  font-weight: bold;
}
.feature h2,
.feature h3 {
  margin-bottom: 0.5em;
  margin-top: 0;
}
.feature p {
  font-style: italic;
  font-weight: 500;
}
.floating-image {
  border: 1px solid #ccc;
  margin-bottom: 2em;
  margin-left: 2em;
  float: right;
  width: 30%;
}
.floating-image.width50 {
  width: 50%;
}
@media (max-width: 670px) {
  .floating-image,
  .floating-image.width50 {
    float: none;
    margin-left: 0;
    width: auto;
  }
}
@media (max-width: 1015px) {
  .feature-list-wrap {
    display: block;
  }
}
.page-post-aside,
.list {
  background-color: #efefef;
  height: 100%;
}
.contact-aside {
  height: 100%;
}
.list.no-background {
  background-color: inherit;
  padding: 0;
}
.list ul {
  list-style: none;
  margin: 0;
}
.list ul li > a {
  font-weight: bold;
}
.list ul li {
  margin-bottom: 1.5em;
}
.list ul li p a {
  font-weight: 500;
}
.media-grid {
  background-color: #484949;
  color: #fff;
  padding: 2em;
}
.media-grid.no-background {
  background-color: transparent;
  padding: 0;
}
.media-grid a {
  font-weight: 500;
}
.media-grid:not(.no-background) a {
  color: #fff;
}
.media-grid ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(270px, auto);
  grid-gap: 1em;
  list-style: none;
  margin: 0;
  text-align: left;
}
.image-grid ul {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
}
@media screen and (max-width: 800px) {
  .media-grid ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 619px) {
  .media-grid ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
.talks-wrap .talks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 2em;
  list-style: none;
  margin-top: 2em;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .talks-wrap .talks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .talks-wrap .talks {
    grid-template-columns: repeat(1, 1fr);
  }
}
.talks-wrap .talks .responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; 
}
.talks .post h2.larger {
  margin-top: 0.75em;
}
.talks .post .mobile {
  display: none;
}
.talks .post div iframe {
  box-sizing: border-box;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.image-grid ul {
  align-items: center;
}
.media-grid ul li div,
.media-grid ul li div iframe {
  box-sizing: border-box;
  /* max-width: 340px; */
  height: auto;
  width: 100%;
}
.media-grid ul li > div {
  margin-bottom: 0.5em;
}
.list-image-wrap {
  display: grid;
  grid-template-columns: 61% 39%;
}
@media screen and (max-width: 680px) {
  .list-image-wrap {
    display: block;
  }
}
.page-post-wrap {
  display: grid;
  grid-template-columns: 65% 35%;
  padding: 0;
}
.page-post-detail {
  padding: 2em;
}
.contact-detail {
  background-color: #efefef;
}
.page-detail h1,
.post-detail h1 {
  margin-bottom: 0.25em;
}
.page-post-detail h2 {
  margin-top: 1.5em;
}
.page-post-detail h1 + h2 {
  margin-top: 0.5em;
}
.page-post-detail ul,
.page-post-detail ol {
  margin-left: 1em;
}
.page-post-detail .list ul {
  margin-left: 0;
}
.page-post-detail a {
  font-weight: 500;
}
.page-post-detail blockquote {
  border-left: 2px solid #cfcfcf;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
}
.page-post-detail figure > img {
  margin-bottom: 0;
}
.page-post-detail figure figcaption {
  font-style: italic;
}

@media screen and (max-width: 900px) {
  .page-post-detail {
    padding: 2em 1em;
  }
}
@media screen and (max-width: 800px) {
  .page-post-wrap {
    display: block;
  }
}

.site-footer {
  background-color: #484949;
  border-top: 1px dotted #a8a8a8;
  color: #efefef;
  position: relative;
  text-align: center;
}
.site-footer .back-to-top {
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -12px;
}
.breadcrumb,
.site-footer .back-to-top a {
  text-decoration: none;
}
.breadcrumb span.text,
.site-footer .back-to-top a span.text {
  text-decoration: underline;
}
.post .site-footer .back-to-top a,
.page .site-footer .back-to-top a {
  color: #000;
}
.site-footer .copyright {
  border-top: 1px dotted #a8a8a8;
  margin: 0;
  padding: 2em 2.5em 2em 2em;
}
.site-footer ul {
  margin: 0;
  padding: 2em;
}
.site-footer li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.site-footer a {
  color: #efefef;
}
.site-footer li a {
  display: block;
  padding: 0em 2.5em;
}
@media screen and (max-width: 758px) {
  .site-footer ul {
    padding: 1em;
  }
  .site-footer li a {
    padding: 0.5em 1.5em;
  }
}

@media screen and (max-width: 687px) {
  .site-footer li {
    display: block;
  }
}


.breathing-room {
  padding: 2em;
}
@media (max-width: 671px) {
  .breathing-room {
    padding: 1em 0.5em 2em;
  }
}